/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
    boxsizing
   ========================================================================== */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
/* ==========================================================================
    common Style
   ========================================================================== */
body {
    margin: 0;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.top-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
.casestudy-container{
   width: 70%;
   margin: 0 auto;
}
.center{
    text-align: center;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: #222;
}
header#breadcrumb ol{
	margin: 0 90px 50px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}
header#breadcrumb ol li{
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
}
header#breadcrumb li a{
	padding-right: 20px;
	background-image: url(../img/topic-path-gray.gif);
	background-repeat: no-repeat;
	background-position: right;
}
/* ==========================================================================
    header Style
   ========================================================================== */
header#nav{
    width: 100%;
    height: 80px;
}
.header-wrapper{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #fff;
}
.header-left{
   float: left;
   padding-left: 30px;
}
img.logo{
    margin: 10px 0px;
}
ul.nav{
    margin: 0;
    padding: 0;
}
.nav li{
   display: inline-block;
   margin-right: 30px;
}
.nav li a{
    padding: 0px 30px;
    line-height: 80px;
    color: #848474;
}
.nav li a:hover{
    color: #DBDBD9;
}
.nav li a:last-child{
    display: inline-block;
    width: 100%;
    height: 80px;
}
.nav li:last-child{
    margin: 0px;
    padding: 0px;
    float: right;
    background-color: #F0F0EF;
}
.nav li:last-child:hover{
    color: #fff;
    background-color: #848472;
    transition: all 1.0s ;
}
.nav li:last-child:visited{
    color: #fff;
    background-color: #848472;

}

/*==========================================================================
   footer Style
========================================================================== */
footer p:first-child{
    font-size: 30px;
    margin-bottom: 0px;
}
footer p:nth-child(2){
    font-size: 20px;
}
footer img{
    margin-bottom: 30px;
}

/*==========================================================================
   common style width: under1200;
========================================================================== */
@media (min-width: 768px) {
 .nav li{
   margin-right: 5px; 
  }
 .nav li a{
    padding: 0px 15px;
 }
}



























